<div class="navbar">
	<div class="brand">
		SPAM
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-2">
			<div>
				Number Of Processes
			</div>
			<div>
				{{input class='config-input' value=numberOfProcesses}}
			</div>
		</div>
		<div class="col-2">
			<div>
				Page/Frame Size
			</div>
			<div>
				{{input class='config-input' value=pageFrameSize}}
			</div>
		</div>
		<div class="col-2">
			<div>
				Memory Size
			</div>
			<div>
				{{input class='config-input' value=memorySize}}
			</div>
		</div>
		<div class="col-2">
			<div>
				System Size
			</div>
			<div>
				{{input class='config-input' value=instructionSize}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<div>
				Actions
			</div>
			<div class="row">
				<div class="col-sm">
					<button class="action-buttons" {{action 'generateInstructions' pageFrameSize memorySize numberOfProcesses}}>Generate Instructions</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-2">
			<div class="row">
				<div class="col-12">
					{{textarea class='instructions-textarea' value=instructions rows=25}}
				</div>
				<div class="col-12">
					<button class="action-buttons" {{action 'loadConfig'}}>Load Config</button>
					<button class="action-buttons" {{action 'loadInstruction' instructionCounter}}>Run</button>
				</div>
			</div>
		</div>
		<div class="col-10">
			{{memory-simulator
				system=system
			}}
		</div>
	</div>
</div>