<div class="navbar">
	<div class="brand">
		SPAM
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<div>
				Number Of Processes
			</div>
			<div>
				{{input class='config-input' value=numberOfProcesses}}
			</div>
		</div>
		<div class="col-2">
			<div>
				Page/Frame Size (bytes)
			</div>
			<div>
				{{input class='config-input' value=pageFrameSize}}
			</div>
		</div>
		<div class="col-2">
			<div>
				Page/Frame Size (bits)
			</div>
			<div>
				{{input class='config-input' value=pageFrameSizeBits}}
			</div>
		</div>
		<div class="col-2">
			<div>
				Memory Size (bytes)
			</div>
			<div>
				{{input class='config-input' value=memorySize}}
			</div>
		</div>
		<div class="col-2">
			<div>
				Memory Size (bits)
			</div>
			<div>
				{{input class='config-input' value=memorySizeBits}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<div>
				Instructions Per Process
			</div>
			<div>
				{{input class='config-input' value=instructionsPerProcess}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<div>
				Actions
			</div>
			<div class="row">
				<div class="col-sm">
					<button class="action-buttons" {{action 'generateInstructions' pageFrameSize memorySize numberOfProcesses instructionsPerProcess}}>Generate Instructions</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<div class="row">
				<div class="col-12">
					{{textarea class='instructions-textarea' value=instructions rows=25}}
				</div>
				<div class="col-12">
					<button class="action-buttons" {{action 'loadConfig'}}>Load Config</button>
					<button class="action-buttons" {{action 'loadInstruction' instructionCounter}}>Run</button>
				</div>
			</div>
			<div class="row">
				{{log system}}
				{{#each system.log as |entry|}}
					<div class="col-12">
						{{entry.message}}
					</div>
				{{/each}}
			</div>
		</div>
		<div class="col-9">
			{{memory-simulator
				system=system
			}}
		</div>
	</div>
</div>