<div class="container-fluid">
	<div class="row">
		<div class="col-4">
			<div class="pages">
				Pages {{system.pages.length}}
			</div>
			{{#each system.pages as |page|}}
				<div>
					{{page.processId}} - {{page.pageSize}}
				</div>
			{{/each}}
		</div>
		<div class="col-4">
			<div class="frames">
				Frames {{system.frames.length}}
			</div>
			{{#each system.frames as |frame|}}
				<div>
					{{frame.processId}} - {{frame.pageSize}}
				</div>
			{{/each}}
		</div>
	</div>
</div>