<div class="container">
	<div class="row">
		<div class="col-sm">
			Memory
		</div>
		<div class="col-sm">
			Swap Space
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="row memory-group">
				{{#each mmu.frameList as |frame|}}
					<div class="col-12 frame">
						{{#if (eq frame.processId null)}}
							{{!-- Show Nothing --}}
						{{else}}
							Process: {{frame.processId}} - Size: {{frame.size}} <br>
							Type: {{frame.type}}
						{{/if}}
					</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm">
			<div class="row memory-group">
				{{#each mmu.swapList as |swapFrame|}}
					<div class="col-12 frame">
						{{#if (eq swapFrame.processId null)}}
							{{!-- Show Nothing --}}
						{{else}}
							Process: {{swapFrame.processId}} - Size: {{swapFrame.size}} <br>
							Type: {{swapFrame.type}}
						{{/if}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>