<div class="container">
	<div class="row">
		<div class="col-sm">
			Process Control Board
		</div>
		<div class="col-sm">
			Master Page Table
		</div>
		<div class="col-sm">
			Secondary Page Table
		</div>
	</div>
	<div class="row">
		<div class="col-lg">
			{{os.error}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="row process-list">
				{{#each os.processControlList as |process|}}
					<div class="process">
						{{#if (eq process.id null)}}
							{{!-- Show Nothing --}}
						{{else}}
							Process: {{process.id}} - Frame: {{process.frameId}}
						{{/if}}
					</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm">
			<div class="row page-list">
				{{#each os.masterPageTable.pages as |page|}}
					<div class="page">
						{{#if (eq page.frameId null)}}
							{{!-- Show Nothing --}}
						{{else}}
							Page: {{page.id}} - Frame: {{page.frameId}}
						{{/if}}
					</div>
				{{/each}}
			</div>	
		</div>
		<div class="col-sm">
			<div class="row page-list">
				{{#each os.secondaryPageTable.pages as |page|}}
					<div class="page">
						{{#if (eq page.frameId null)}}
							{{!-- Show Nothing --}}
						{{else}}
							Page: {{page.id}} - Frame: {{page.frameId}}
						{{/if}}
					</div>
				{{/each}}
			</div>	
		</div>
	</div>
</div>